<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Electronic Shop Management System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<!--navbar-->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<!--    hero section-->
    <section class="hero">
        <h1>Welcome to Electronic Shop Management System</h1>
        <p>Best place to buy electronics online</p>
        <button onclick="window.location.href='/products'">Shop Now</button>
    </section>

<!--    footer -->
    <footer class="footer">
        <p>© 2026 Electronic Shop Management System. All rights reserved. </p>
    </footer>

</body>
</html>