<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products - ESMS</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<!--    products -->
    <h1>Our Products</h1>
    <div class="products-container">
        <div class="product-card" th:each="product : ${productsList}">

            <img th:src="@{${product.imageUrl}}" alt="product"/>
            <h3 th:text="${product.name}"></h3>
            <p th:text="${product.description}"></p>
            <p th:text="${product.price}"></p>
            <button>Add to Cart</button>
        </div>
    </div>
</body>
</html>